.img-product {
    text-align: center;
    margin-top: 80px;
}

.img-product img {
    width: 50%;
}

.preview-product {
    text-align: center;
}

.preview-product h1 {
    color: #000;
    position: relative;
    font-family: 'Gotham Bold';
    text-transform: uppercase;
    font-size: 60px;
}

.preview-product h1::before {
    left: 16%;
    top: 60%;
    position: absolute;
    content: '';
    background-color: #000;
    height: 2px;
    width: 13%;
}

.preview-product h1::after {
    right: 16%;
    top: 60%;
    position: absolute;
    content: '';
    background-color: #000;
    height: 2px;
    width: 13%;
}

.inf-detail-product {
    font-family: 'Gotham Light';
    margin-top: 5px;
    font-weight: 600;
}

.product-involve {
    text-align: center;
    margin-top: 60px;
}

.inf-product {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
}

.inf-product-item p {
    font-family: 'Gotham Light';
    font-weight: 600;
}

.inf-product-item h2 {
    text-transform: uppercase;
    text-align: center;
}

.product-involve h3 {
    font-family: 'Gotham Bold';
    text-transform: uppercase;
    font-size: 30px;
}

.product-list {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 20px;
}

.product-list img {
    width: 80%;
}

.product-list h4 {
    font-family: 'Gotham Book';
    font-size: 18px;
    color: #000;
    font-weight: 700;
}

.product-list a {
    font-size: 18px;
    color: #0033a0;
}

.btn-more-recipe button {
    background-color: var(--color-red);
    padding: 12px 40px;
    outline: unset;
    border: unset;
    font-family: 'Gotham Bold';
}

.slider-product-more {
    margin-top: 70px;
    text-align: center;
}

.slider-product-more h3 {
    font-family: 'Gotham Bold';
    text-transform: uppercase;
    font-size: 30px;
}

.slide-product {
    margin-top: 50px;
}

.banner-img {
    margin-top: 70px;
    margin-bottom: 70px;
}

.banner-img img {
    width: 100%;
    height: 60vh;
    object-fit: contain;
}