footer {
    background: var(--color-blue);
}

.footer__main {
    padding: 35px 0;
}

.footer-text p {
    line-height: 25px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0;
}

.footer-icon div {
    flex-direction: column;
}

.footer-icon div a {
    display: flex;
    justify-content: end;
}

.footer-icon ul li {
    padding-left: 20px;
}

.img-check {
    width: 200px;
}

.copyright {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px !important;
    margin-bottom: 0;
}

.featured-img {
    position: relative;
    padding-top: 110%;
}

.featured-img:hover::before {
    bottom: 4rem;
    right: 6rem;
}

.featured-img:hover::after {
    top: 4rem;
    left: 6rem;
}

.featured-img::before,
.featured-img::after {
    content: '';
    position: absolute;
    width: 77%;
    height: 100%;
    z-index: -1;
    transition: .3s ease;
}

.featured-img::before {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAU0lEQVQoU43QMRYAEQwE0ExHyf3vqNxybF6wRIpNZ3whIL74UJDh4zNQpFWTSMOx9y0m0m6FdmDDBnc073QYIQqwweDxa5jR+Zru+gUNCvkPvrgDcCIgJ6cWP4UAAAAASUVORK5CYII=) repeat;
    bottom: 2rem;
    right: 2rem;
}

.featured-img::after {
    background: #e51753;
    top: 2rem;
    left: 81px;
}

.item-list-icon {
    display: flex;
    justify-content: end;
}