body {
    font-family: 'Gotham Book';
}

.header {
    background: var(--color-blue);
    height:60px;
    width: 100%;
}

.container {
    max-width: 1400px !important;
    margin: 0 auto !important;
}


.header__navbar {
justify-content: center;
}

.toggle-mobile {
    display: none;
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn {
    position: absolute;
    top: 30px;
    left: 15px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.header__navbar-left,
.header__navbar-right {
    flex-basis: 40%;
    position: relative;
}

.header__navbar-left ul,
.header__navbar-right ul {
    padding-left: 0;
    justify-content: space-around;
}

.header__navbar-left .list-navbar .list-navbar-item,
.header__navbar-right .list-navbar .list-navbar-item {
    text-align: center;
}

.navbar__mobile {
    display: none;
}

.list-navbar {
    height: 60px;
    align-items: center;
}

.list-navbar-item {
    position: relative;
    transition: all .5s ease;
}

.list-navbar-item::after {
    content: '';
    height: 90%;
    width: 100%;
    bottom: -28px;
    left: 0;
    position: absolute;
    cursor: pointer;
}

.list-navbar-item:hover .sub-menu {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    display: block;
}

.btn-language img {
    margin-left: 4px;
    margin-bottom: 4px;
    margin-top: 8px;
}

.search-box {
    position: absolute;
    right: 15%;
    background: #fff;
    height: 40px;
    border-radius: 50px;
}

.search-btn {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--color-red);
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.search-btn:hover {
    color: #fff;
}

.fa-search {
    font-size: 24px;
}

.search-input {
    display: none;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 20px;
    width: 0;
}

.search-input::placeholder {
    font-size: 14px;
}

.search-input {
    text-align: center;
    width: 400px;
    padding-left: 20px;
    padding-bottom: 5px;
    height: 40px;

}


.sub-menu-item a {
    color: var(--color-blue) !important;
    text-transform: unset !important;
}

.sub-menu {
    background: #fff;
    opacity: 0;
    right: -85px;
    position: absolute;
    transition: all .5s ease;
    top: 42px;
    transform: translateY(30px);
    visibility: hidden;
    line-height: 2rem;
    width: 250px;
    border-bottom: 6px solid var(--color-red);
    padding-bottom: 15px;
    padding-top: 10px;
    box-shadow: 0 1px 7px 0 rgb(0 0 0 / 56%);
}

.list-navbar li a {
    font-family: 'Gotham Book';
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

.underline,
.underline-white {
    position: relative;
}

.underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    top: 25px;
    width: 0;
    height: 2px;
    background-color: var(--color-blue);
    opacity: .7;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.underline-white::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    top: 25px;
    width: 0;
    height: 2px;
    background-color: #fff;
    opacity: .7;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.sub-menu-item-mb {
    padding: 0 !important;
}

.sub-menu-item-mb a {
    font-size: 14px;
}

.current_page_item {
    background-color: #C00;
    color: #FFF;
  }

@media (hover: hover) and (pointer: fine) {
    .underline:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

@media (hover: hover) and (pointer: fine) {
    .underline-white:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

.fa-search {
    font-size: 18px;
}

@media (max-width:800px) {
    header {
        height: 60px !important;
    }
    .list-navbar-item {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #0033a0;
        height: 100vh;
        padding-top: 20px;
    }
    .btn-language {
        display: none;
    }
    .toggle-mobile {
        display: block;
    }
    .header__navbar {
        height: unset;
    }
    .list-group-item {
        background-color: unset !important;
    }
    .sub-menu-item a {
        font-size: 14px;
    }
    .list-group-item h4 {
        color: #fff;
        font-size: 16px;
    }
    .list-group-item .list-group-item-content {
        display: none;
    }
    .list-group-item .arrow {
        color: #fff !important;
        display: inline-block;
        float: right;
        width: 1.2em;
        height: 1.2em;
        background-image: url(../img/arrow-down-sign-to-navigate.png);
        background-size: 100%;
        background-repeat: no-repeat;
        transition: all 0.3s;
    }
    .list-group-item-heading.active .arrow {
        transform: rotate(180deg);
        transition: all 0.3s;
    }
    #menu__toggle {
        position: absolute;
        left: -9999px;
    }
    .btn-language img {
        margin-left: unset;
        margin-bottom: unset;
        margin-top: unset;
    }
    .search-box {
        position: unset;
        height: 45px;
        border-radius: unset;
    }
    .search-input {
        position: absolute;
        right: -12px;
        top: 70%;
        width: 426px;
        /* height: 41px; */
        box-shadow: rgb(0 0 0 / 35%) 0px 1px 6px 0px;
        background: rgb(255, 255, 255);
    }
    .search-btn {
        position: absolute;
        width: 30px;
        height: 30px;
        left: 50%;
        top: 18%;
    }
    i.fas.fa-search {
        font-size: 14px;
    }
 
    .list-navbar {
        height: unset;
        align-items: center;
        margin-bottom: 0;
    }
    .header__navbar-left ul,
    .header__navbar-right ul {
        justify-content: end;
    }
    .header__navbar-mid {
        text-align: center;
    }

   
    .navbar__mobile {
        padding: 115px 0px 0;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: var(--color-blue);
        height: 100vh;
        z-index: -1;
    }

    .sub-menu-moblie,ul.sub-menu-mobile {
        padding-left: 1rem !important; 
    }
    li.sub-menu-item,.sub-menu-item-mb {
        padding: 8px 0 !important;
    }
    .navbar__mobile a {
        color: var(--color-red) !important;
        color: #fff !important;
        font-weight: 600;
    }
    .navbar-item {
        padding: 0px 20px;
    }
    .btn-language-mb {
        position: absolute;
        top: 3%;
        right: 5%;
    }
}

@media (max-width: 576px) {
    .container,
    .container-sm {
        max-width: 720px !important;
    }
}