.header {
    background: var(--color-blue);
    height: 80px;
    width: 100%;
}


/* .header__navbar {
    height: 80px;
    align-items: center;
} */

.header__navbar-left,
.header__navbar-right {
    flex-basis: 40%;
}

.header__navbar-left ul,
.header__navbar-right ul {
    padding-left: 0;
    justify-content: space-between;
}

.header__navbar-left .list-navbar .list-navbar-item,
.header__navbar-right .list-navbar .list-navbar-item {
    text-align: center;
}

.header__navbar-left .list-navbar .list-navbar-item:last-child {
    margin-right: 90px;
}

.header__navbar-right .list-navbar .list-navbar-item:first-child {
    margin-left: 90px;
}

.list-navbar {
    height: 60%;
    align-items: center;
}

.list-navbar-item {
    position: relative;
}

.list-navbar-item::after {
    content: '';
    height: 90%;
    width: 100%;
    bottom: -28px;
    left: 0;
    position: absolute;
}

.list-navbar li:hover .sub-menu {
    opacity: 1;
    transform: translateY(0);
}

.sub-menu {
    background: #95c1d6;
    opacity: 0;
    position: absolute;
    transition: all .5s ease;
    top: 53px;
    transform: translateY(30px);
}

.sub-menu-item {
    padding: 20px 35px;
}

.list-navbar li a {
    font-family: 'Gotham Book';
    font-weight: 600;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

.underline {
    position: relative;
}

.underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    top: 25px;
    width: 0;
    height: 2px;
    background-color: #fff;
    opacity: .7;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .underline:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

.fa-search {
    font-size: 18px;
}