body {
    font-family: 'Gotham Book', sans-serif;
}

.clr {
    clear: both;
}

.banner {
    margin-top: 80px;
}

.product {
    padding-top: 60px;
    float: left;
    width: 100%;
    position: relative;
}

.viewport-banner {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    transition: 0.4s;
}

.viewport-banner img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: auto;
    height: auto;
    max-width: 100%;
    transition: 0.4s;
}

.product::before {
    content: '';
    position: absolute;
    background: url(../img/pattern/patterndot.png) no-repeat;
    width: 15%;
    height: 26vh;
    left: -115px;
    top: 128px;
}

.product__main {}

.title-heading {
    text-align: center;
    position: relative;
    background: url(../img/pattern/patternline.png) no-repeat;
    background-position: center bottom;
    padding-bottom: 7px;
    background-size: 130px;
}

.title-heading h2 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-blue);
}

.product__items {
    float: left;
    padding: 15px 60px;
    width: 100%;
}

.product__items ul {
    padding-left: 0;
}

.product__items ul li {
    float: left;
    width: 20%;
}

.hover-opa {
    transition: 0.4s;
}

.hover-opa:hover {
    opacity: .9;
    transition: 0.4s;
}

.hover-scale img {
    transition: 0.4s;
}

.hover-scale:hover img {
    transition: 0.4s;
    transform: scale(1.05);
}

.product__items ul li a {}

.product-img:hover img {
    transition: 0.4s;
    transform: scale(1.05);
}

.product-img {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    transition: 0.4s;
}

.product-img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: auto;
    height: auto;
    max-width: 100%;
    transition: 0.4s;
}

.recipe-slider {
    margin-top: 50px;
}

.product-name {
    text-align: center;
    margin-top: 12px;
}

.product-name h4 {
    font-size: 16px;
    color: var(--color-blue);
}

.product-recipe h4 {
    margin-top: 15px;
    font-size: 16px;
    color: var(--color-blue);
}

.clr {
    clear: both;
}

.img-banner {
    width: 100%;
}

.banner-2 {
    position: relative;
    margin-top: 100px;
    background: url(../img/banner/banner\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 164px);
}

.banner-2::after {
    content: '';
    position: absolute;
    background: url(../img/pattern/patterncirlered.png) no-repeat;
    width: 15%;
    height: 26vh;
    top: -80px;
    right: 120px;
    z-index: -1;
}

.test {
    display: flex;
    align-items: center;
    height: 50vh;
    padding-top: 532px;
    padding-left: 100px;
}

.btn-discover {
    padding: 10px 50px !important;
    background: linear-gradient(275.76deg, #E51753 44.33%, #FF5463 98.56%);
    box-shadow: 0px 4px 20px rgba(255, 56, 74, 0.5);
    border-radius: 50px !important;
    border: unset !important;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Gotham Bold';
    transition: 0.4s;
}

.btn-discover:hover {
    opacity: .9;
    transition: 0.4s;
}

.btn-discover:focus {
    border: unset;
    box-shadow: unset !important;
}

.recipe {
    margin-top: 60px;
    float: left;
    width: 100%;
    position: relative;
}

.recipe-items {
    padding: 50px 60px;
}

.recipe::before {
    content: '';
    position: absolute;
    background: url(../img/pattern/patterndot.png) no-repeat;
    width: 20%;
    height: 26vh;
    left: -131px;
    top: 225px;
    z-index: 9;
}

.recipe::after {
    content: '';
    position: absolute;
    background: url(../img/pattern/patterncircleblue.png) no-repeat;
    width: 6%;
    height: 33vh;
    right: 0;
    top: 0;
    z-index: 9;
}

.banner-3 {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 100px;
    background: url(../img/banner/banner\ 3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 164px);
}

.banner-3::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.19);
}

.text-event {
    padding-left: 60px;
    max-width: 50%;
    z-index: 9;
}

.text-event h2 {
    font-family: 'Gotham Bold';
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
}

.gift-users {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto;
    color: #fff;
    text-transform: uppercase;
}

.item {
    display: flex;
    align-items: center;
}

.item .icon i {
    font-size: 35px;
}

.item h5 {
    margin: 0;
    margin-left: 15px;
}

.text-event h4 {
    color: #fff;
    margin: 30px 0 40px;
}

.btn-event {
    margin-top: 50px;
    padding: 15px 20px !important;
    transition: 0.4s;
}

.btn-event:hover {
    opacity: .9;
    transition: 0.4s;
}

.banner-4 {
    position: relative;
    background: url(../img/banner//banner\ 4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 164px);
    background-position-y: center;
}

.banner-4::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.19);
}

.promos {
    background: #000;
    width: 100%;
    float: left;
    border-top: 2px solid #000;
    border-bottom: 2px solid #141a27;
}

.promo-img {
    position: relative;
    display: flex;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
    z-index: 999;
}

.promos h3 {
    text-align: center;
    position: absolute;
    font-family: 'Painter';
    font-size: 30px;
    color: #fff;
}

.promos h3 span {
    font-size: 55px;
}

.promo-img:before {
    content: "";
    display: block;
    padding-top: 50%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.19);
}

.promo-img-1 {
    position: relative;
    float: left;
    width: 25%;
    background: url(../img/preview/image\ 24.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-left: 1px solid #141a27;
    border-right: 1px solid #141a27;
}

.promo-img-2 {
    position: relative;
    float: left;
    width: 25%;
    background: url(../img/preview/Mixx\ up\ you\ magic.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-left: 1px solid #141a27;
    border-right: 1px solid #141a27;
}

.promo-img-3 {
    position: relative;
    float: left;
    width: 25%;
    background: url(../img/preview/Icehot\ moments.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-left: 1px solid #141a27;
    border-right: 1px solid #141a27;
}

.promo-img-4 {
    position: relative;
    float: left;
    width: 25%;
    background: url(../img/preview/Co\ hoi\ hop\ tac.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-left: 1px solid #141a27;
    border-right: 1px solid #141a27;
}

footer {
    background: var(--color-blue);
}

.footer__main {
    padding: 35px 0;
}

.footer-text p {
    line-height: 25px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0;
}

.footer-icon div {
    flex-direction: column;
}

.footer-icon div a {
    display: flex;
    justify-content: end;
}

.footer-icon ul li {
    padding-left: 20px;
}

.img-check {
    width: 200px;
}

.copyright {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px !important;
    margin-bottom: 0;
}

.featured-img {
    position: relative;
    padding-top: 110%;
}