body {
    position: relative;
}

/* body::before {
    content: '';
    position: absolute;
    background: url(../img/pattern/patterndot.png) no-repeat;
    width: 15%;
    height: 26vh;
    left: -115px;
    top: 128px;
}

body::after {
    content: '';
    position: absolute;
    background: url(../img/pattern/patterncirlered.png) no-repeat;
    width: 15%;
    height: 26vh;
    top: -151px;
    right: 120px;
    z-index: -1;
} */

.layout {
    margin-top: 80px;
}

.title-product {
    font-family: 'Gotham Bold';
    margin-top: 130px;
    text-align: center;
}

.title-product h1 {
    font-weight: 600;
    color: #000;
}

.title-product p {
    font-family: 'Gotham Book';
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #000;
    width: 80%;
    margin: 0 auto;
    padding: 10px 0 10px;
}

.product-list {
    grid-template-columns: auto auto auto auto;
    margin-top: 50px;
}



.product-list-item {
    padding: 50px 0;
}


.product-list-item a img {
    max-width: 100%;
    transition: 0.4s;
    transform: scale(1.5);
}
.product-list a:hover img {
    transition: 0.4s;
    transform: scale(1.53);
}

.sticker-new {
    position: relative;
}

.sticker-new::after {
    position: absolute;
    content: '';
    background: url(../img/4x_new.png);
    width: 80px;
    height: 80px;
    top: 10%;
    right: 14%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}


.product-list-item a h3 {
    text-align: center;
    font-size: 20px;
    color: #000;
    font-family: 'Gotham Bold';
    margin-top: 50px;
    z-index: 99;
}

.product-list-item a:hover {
    color: #0033a0;
}

.product-list-item p {
    color: #000;
    display: -webkit-box;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 1rem;
}

.product-item {
    display: flex;
    flex-direction: column;
}

.product-list a {
    transition: 0.4s;
}

.product-list a:hover h3 {
    color: var(--color-blue);
    transition: 0.4s;
}



.product-main {
    display: flex;
    flex-direction: column;
}

.product-filter {
    width: 100%;
}

.product-filter h2 {
    margin-top: 40px;
    color: var(--color-blue);
    font-family: 'Gotham Bold';
}

.list {
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.list li {
    padding: 10px 0px;

}

.list li a {
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
}

.list li.active {
    background: #F3F3F3;
}

.list li.active a {
    color: var(--color-red);
}

hr:not([size]) {
    height: 3px !important;
    background: #000;
    opacity: unset;
}

@media (max-width:800px) {
    body::after {
        display: none;
    }
    .title-product p {
        display: none;
    }
    .product-main {
        flex-direction: column;
    }
    .list {
        padding: 0 20px;
    }
    .product-list {
        grid-template-columns: auto;
    }
    .product-item {
        width: 100%;
    }
    .product-list-item a h3 {
        font-size: 18px;
    }
}