body {
    font-family: 'Gotham Book', sans-serif;
}

.text-product {
    margin-top: 60px;
}

.banner-product {
    text-align: center;
    position: relative;
}

.banner-product {
    background-image: url(https://images.absolutdrinks.com/ingredient-images/Raw/Absolut/cfe7b687-3ae3-4c63-a27c-dce0fd11b207.jpg?imwidth=900);
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-product img {
    width: 100%;
}

.name-product {
    padding-top: 15px;
    margin-top: -47px;
    background: #fff;
    position: relative;
    width: 66.666667%;
    text-align: center;
    z-index: 99;
}

.name-product h1 {
    font-family: 'Gotham Bold';
    color: var(--color-blue);
    font-size: 60px;
}

.name-product p {
    color: var(--color-blue);
    font-weight: 600;
}

.drink-list-filter {
    max-width: 280px;
    width: 100%;
}

.list-item:last-child {
    border-bottom: 1px solid #dee2e6!important;
}

.drink-img img {
    width: 100%;
}

select#cars {
    border: unset;
    -webkit-appearance: none;
}

select#cars:focus {
    outline: none;
}

.change-to-list,
.change-to-column {
    border: unset;
    background: none;
}

.drink-list-filter ul {
    padding-left: 0;
}

.drink-list-filter ul li {
    padding: 10px 0;
}

.border-top {
    border-top: 2px solid #e2e8f0
}

.border-color {
    border-bottom: 2px solid #e2e8f0;
    ;
}

.drink-list-filter ul li span {
    color: var(--color-blue);
    font-weight: 600;
}

.fa-chevron-down {
    transition: all .3s linear;
}

.lists-all-product {
    flex: 1;
}

.drink-list-filter ul li a {
    color: var(--color-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

ul.list-item-kids-1,
ul.list-item-kids-2 {
    display: none;
}

.list-product {
    width: 100%;
}

.items-product {
    position: relative;
    display: flex;
    padding: 30px 20px 40px;
    transition: 0.4s;
}

.items-product:hover {
    opacity: .9;
    transition: 0.4s;
}

.items-product .btn-heart {
    position: absolute;
    right: 15px;
    top: 15px;
    border: unset;
    background: #fff;
    padding: 0;
    border-radius: 9999px;
}

.list-product-items {
    margin-left: 20px;
    margin-bottom: 40px;
}

.drink-content {
    padding-left: 20px;
    flex: 1;
}

.drink-content h3 {
    font-size: 18px;
    color: var(--color-blue);
    font-family: 'Gotham Bold';
}

.drink-content p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-blue);
}

.list-description {
    position: relative;
}

.blur::after {
    position: absolute;
    content: '';
    opacity: 1;
    /* Click hidden */
    width: 35%;
    display: block;
    position: absolute;
    bottom: 35%;
    height: 48px;
    transition: all 0.4s;
    background: linear-gradient( 180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .87));
}

.drinks-star-rating {
    display: flex;
}

.fa-star {
    color: #38d32f;
}

.list-description ul {
    padding-left: 0;
    margin-bottom: 0;
}

.list-description ul li {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-blue);
}

.show-quick-view {
    margin-top: 20px;
    display: none;
}

.quick-view {
    color: #38d32f;
    width: 100%;
    font-weight: 600;
}

.quick-view:hover {
    color: #38d32f;
    text-decoration: underline !important;
}

.preview-special-drink {
    position: absolute;
    right: 0;
    top: 90px;
}

.preview-special-drink button {
    padding: 10px 20px;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 9999px;
    color: var(--color-blue);
    background-color: #f0f0f0;
    border: unset;
}

.preview-special-drink button:hover {
    background-color: #f0f0f0;
    color: var(--color-blue);
}

.special-drink-entity {
    padding: 10px 0;
}

.special-drink-entity button {
    padding: 10px 20px;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 9999px;
    color: var(--color-blue);
    background-color: #f0f0f0;
    border: unset;
    margin-left: 0;
}

.special-drink-entity button:hover {
    background-color: #f0f0f0;
    color: var(--color-blue);
}

.make-drink {
    padding: 10px;
    color: #fff;
    background: var(--color-blue);
    text-transform: uppercase;
    width: 65%;
    border: none;
    font-weight: 600;
    margin-top: 10px;
}

.close-quick {
    display: block;
    padding: 10px;
    width: 65%;
    color: #38d32f;
    font-weight: 600;
    border: none;
    margin-top: 10px;
    background: #fff;
}

.recipe::after{
    display: none;
}
.recipe::before{
    display: none;
}