.input-search {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.input-search input::placeholder {
    color: #A0AEC0;
}

.input-search input {
    font-weight: 700;
    outline: none;
    width: 60%;
    border-style: hidden;
    font-size: 18px;
    background-color: #fff;
}

.input-search span i {

color: var(--color-blue);
    font-size: 20px;
}

.icon-icehot {
    margin: 55px 0
}

.icon-items ul {
    display: flex;
    justify-content: center;
    align-items: end;
    padding-left: 0;
    gap: 40px;
}

.icon-items ul li {
    text-align: center;
}
.icon-items ul li img{
    width: 40%;
}



.recipe {
    margin-top: unset !important;
}




.recipe-new {
    margin-top: 120px;
}

.recipe-img {
    position: relative;
    width: 100%;
    padding-top:100%;
    overflow: hidden;
    transition: 0.4s;
}

.recipe-img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: auto;
    height: auto;
    max-width: 100%;
    transition: 0.4s;
}

.all-recipe-new {
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.all-recipe-new a {
    float: left;
    width: 35%;
}

.text-recipe {
    display: flex;
    flex-direction: column;
}


.text-recipe p {

    color: var(--color-red
    );
    font-size: 20px !important;
    padding-left: 20px!important;
    padding-right: 20px!important;
    margin-top: -30px !important;
    margin-bottom: 0 !important;
    z-index: 9;
    /* text-align: center !important; */
    margin-left: auto!important;
    margin-right: auto!important;
    background: #fff;
    font-weight: 600;
}

.text-recipe h3 {
    margin-top: 5px;
    text-align: center;
    font-size: 23px;
    color: var(--color-blue);
    font-family: 'Gotham Bold' !important;
}


.drink-list {
    margin-top: 130px;

}

.swiper-button-next, .swiper-button-prev {
    width: 40px !important;
    height: 40px !important;
    background: var(--color-blue);
    color: #fff !important;
    border-radius: 5px;
}

.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 20px !important;
}


.banner-lifestyle {
    margin: 80px 0;
}

.banner-img {
    position: relative;
    width: 100%;
    height: calc(100vh - 200px);
    overflow: hidden;
    transition: 0.4s;
}

.banner-img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: auto;
    height: auto;
    max-width: 100%;
    transition: 0.4s;
}

.product {
    padding-top: 0 !important;
    margin-bottom: 80px;
}

.product::before,.product::after {
    display: none;
}


.product-list-items {
    float: left;
    width: 100%;
}
.product-item {
    float: left;
    width: 20%;
}

.product-img {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    transition: 0.4s;
}

.product-img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: auto;
    height: auto;
    max-width: 100%;
    transition: 0.4s;
}