@media (max-width:800px) {
    .section-maps {
        flex-direction: column;
    }
    .address-contact {
        width: 100%;
    }
    .address-maps {
        width: 100%;
    }
    .info h2 {
        margin-top: 35px;
        font-size: 18px;
    }
    .gc {
        padding-left: unset;
    }
    .naccs {
        margin-bottom: 21px;
    }
    .gc--1-of-3 {
        width: 37%;
    }
    .gc--2-of-3 {
        width: 63%;
    }
    .naccs .menu div.active {
        padding: 14px 0px 17px 17px;
    }
    .naccs .menu div {
        padding: 14px 0px 17px 17px;
    }
    .naccs .menu div span.light {
        display: none;
    }
    .section-maps {
        padding: 10px;
    }
    .name-address {
        font-size: 14px;
    }
    ul.nacc li p {
        font-size: 14px;
    }
    .form-contact {
        flex-direction: column;
        gap: unset;
    }
}