@media (max-width:800px) {
    .footer__main {
        flex-direction: column;
    }
    .footer-text {
        width: 100% !important;
        text-align: center;
    }
    .footer-icon {
        width: 100% !important;
    }
    .footer-icon div {
        text-align: center;
        flex-direction: column-reverse;
        margin-top: 25px;
    }
    .item-list-icon {
        justify-content: center !important;
        padding: 0;
        gap: 20px;
        margin-top: 20px;
    }
    .footer-icon div a {
        justify-content: center;
    }
    .footer-icon ul li {
        padding-left: 0px;
    }
    .copyright {
        margin-top: 0 !important;
    }
}