                @media (max-width:800px) {
                    .product__items ul li {
                        width: 50% !important;
                    }
                    .product__items {
                        padding: 15px 0px !important;
                    }
                    .product-name h4 {
                        font-size: 14px !important;
                    }
                    .title-heading h2 {
                        font-size: 16px !important;
                    }
                    .title-heading {
                        padding-bottom: 1px !important;
                        background-size: 100px !important;
                    }
                    .banner {
                        margin-top: 60px !important;
                    }
                    /*=========Banner 2=========*/
                    .banner-2 {
                        min-height: unset;
                    }
                    .test {
                        display: flex;
                        align-items: center;
                        height: 50vh;
                        justify-content: center;
                        padding-top: unset;
                        padding-left: 10px;
                    }
                    .btn-discover {
                        font-size: 13px !important;
                        padding: 5px 24px !important;
                    }
                    .banner-2::after {
                        width: 66%;
                        height: 20vh;
                        top: -11%;
                        right: 0;
                        background-size: 190px;
                    }
                    /*=========Banner 3=========*/
                    .banner-3 {
                        min-height: unset;
                        height: 60vh;
                        background-position: center;
                    }
                    .text-event {
                        padding: 30px !important;
                        max-width: 100%;
                        display: flex;
                        padding-left: 10px;
                        align-items: center;
                        flex-direction: column;
                        text-align: center;
                        justify-content: center;
                    }
                    .text-event h2 {
                        font-size: 18px;
                    }
                    .text-event h4 {
                        font-size: 14px;
                    }
                    .gift-users {
                        display: none;
                    }
                    .btn-event {
                        margin-top: unset;
                        padding: 7px 24px !important;
                    }
                    /*=========Banner 4=========*/
                    .banner-4 {
                        min-height: unset;
                        height: 60vh;
                        background-position: center;
                    }
                    .recipe::after {
                        width: 8%;
                        height: 16vh;
                        right: -1px;
                        top: -51px;
                        background-size: 115%;
                    }
                    .promo-items {
                        padding: 12px;
                        grid-template-columns: auto auto;
                        gap: 12px;
                    }
                    /*====promos====*/
                    .promo-img {
                        width: 100%;
                        border-top: 2px solid #1a1a1a;
                    }
                    /* .promos h3 {
                        font-size: 25px;
                    }
                    .promos h3 span {
                        font-size: 40px;
                    } */
                }
                
                @media (max-width: 576px) {
                    .container,
                    .container-sm {
                        max-width: 720px !important;
                    }
                }